<!DOCTYPE html>
<html>
<head>
	<title>WebSockets 101</title>
	
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
	<p id="userid" style="display: none;"><%= sender %></p>
	<p id="userid1" style="display: none;"><%= user1._id %></p> 
	<p id="username" style="display: none;"><%= sendername %></p>
<h1>Chatting to <%= user1.name %> </h1>
	<div id="mario-chat">
		<div id="chat-window">
			<div id ="output">
				<% if(chats){ %>
					<% chats.forEach(function(chat){ %>
						<% if(sender==chat.sender){ %>
							<p><strong> You: </strong><%= chat.message %></p>
						<% } else{%>
							<p><strong> <%= user1.name %> </strong> <%= chat.message %></p>
						<% } %>
					<% }) %>
				<% } %>
			</div>
			<div id="feedback"></div>
		</div>
		<input type="text" id="message" placeholder="Message">
		<button id="send">Send</button>
	</div>
	<script type="text/javascript" src="/js/chat-front.js"></script>
</body>
</html>